# Python
venv/
__pycache__/
*.pyc
*.egg-info/

# SQLite & dumps
*.db
*.sqlite*
reporting.db
users_dump.sql

# Data directories
/data/
data/**

# Reporting
/reporting/
reporting/**

# Temp & caches
data/.cache/

# Secrets
.env
.env.*
*.secret
.streamlit/secrets.toml

# Editors/OS
.vscode/
.idea/
.DS_Store
